<%= link_to 'New Event', new_event_path, class: 'link-button' %>
<% if @events.any? %>
  <div class="event-cards">
    <% @events.each do |event| %>
      <%= render "event_card", event: event %>
    <% end %>
  </div>
<% else %>
  <h2>No events scheduled!</h2>
<% end %>
