<h1>Welcome to Private Events</h1>
<% if @events.any? %>
  <h2>Existing Events:</h1>
  <ul>
    <% @events.each do |event| %>
      <li><%= `#{event.id} - #{event.date}` %></li>
    <% end %>
  </ul>
<% else %>
  <h2>No events scheduled!</h2>
<% end %>
