<header>
  <div class="title-container">
    <h1 class="title"><%= link_to "Kevin's Private Events", root_path, class: 'title-link' %></h1>
    <p class="byline">The #1 party planning spot!</p>
  </div>
  <%= render "layouts/user_nav" %>
</header>
